.table {
  tr {
    cursor: pointer;
    td[data-col='codigo'] {} /* codigo */
    td[data-col='estado'] {width: 80px;} /* estado */
    td[data-col='fecha-recibido'] {width: 80px;} /* fecha */
    td[data-col='documento'] {width: 30%} /* documento */
    td[data-col='dirigido'] {width: 30%} /* dirigido */
    td[data-col='prioridad'] {width: 20px;} /* prioridad */
    td[data-col='plazo'] {width: 100px;} /* plazo */
    td[data-col='pdf'] {width: 20px;} /* botón pdf */
  }
}

.asunto {font-size: 11px;}

.margin-bottom-5 {
  margin-bottom: 5px;
}
