<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Búsqueda por Registro de Entrada</h2>
    <ol class="breadcrumb">
      <li>
        <a routerLink="starterview">Inicio</a>
      </li>
      <li>
        <a>Reportes Generales</a>
      </li>
      <li class="active">
        <strong>Búsqueda por Registro de Entrada</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
   <div class="row">
    <div class="col-sm-12">
      <div class="row m-b-sm">
        <div class="col-sm-2">
          <label>Número Doc.:</label>
          <input type="text" class="form-control" autocomplete="off" [(ngModel)]="parametrosBusqueda.numeroDocumento" (change) ="ChangeParameters()">
        </div>
        <div class="col-sm-2">
          <label>Año:</label>
          <ng-select name="cmbAnios"
                     [items]="parametros.listaNano"
                     bindLabel="anno"
                     bindValue="anno"
                     placeholder="Seleccione Año"
                     [clearable]="false"
                     (change) ="ChangeParameters()"
                     [(ngModel)]="parametrosBusqueda.nano"
                     >
          </ng-select>
        </div>
        <div class="col-sm-3">
          <label>Tipo:</label>
          <ng-select name="cmbTipoDocumento"
                     [items]="parametros.listaTiposDocumento"
                     bindLabel="descripcion"
                     bindValue="codigo"
                     placeholder="Seleccione Tipo"
                     [clearable]="false"
                     (change) ="ChangeParameters()"
                     [(ngModel)]="this.parametrosBusqueda.tipoDocumento">
          </ng-select>
        </div>
        <div class="col-sm-1">
          <button (click)="OnBuscar()"class="btn btn-primary m-t-sm"><i class="fa fa-search"></i> Buscar</button>
        </div>
        <div class="col-sm-4">
          <button (click)="OnExportar()" [disabled]="buttonDisabled" class="btn btn-info m-t-sm"><i class="fa fa-file-excel-o"></i> Exportar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal">
            <dt>Año:</dt> <dd>{{reporteRegistroEntrada.nano}}</dd>
            <dt>Tipo de Documento:</dt> <dd>{{reporteRegistroEntrada.tipoDocumento}}</dd>
            <dt>Estado:</dt> <dd>{{reporteRegistroEntrada.estadoDocumento}}</dd>
            <dt>Remitente:</dt> <dd>{{reporteRegistroEntrada.remitente}}</dd>
            <dt>Asunto:</dt> <dd>{{reporteRegistroEntrada.asunto}}</dd>
            <dt>Referencia:</dt> <dd>{{reporteRegistroEntrada.referencia}}</dd>
            </dl>
        </div>
        <div class="col-md-4">
          <dl class="dl-horizontal">
            <dt>Correlativo:</dt> <dd>{{reporteRegistroEntrada.correlativo}}</dd>
            <dt>Nro Documento:</dt> <dd>{{reporteRegistroEntrada.numeroDocumento}}</dd>
            <dt>Fecha De Documento:</dt> <dd>{{reporteRegistroEntrada.fechaDocumento}}</dd>
            <dt>Dia Plazo Documento:</dt> <dd>{{reporteRegistroEntrada.diasPlazo}}</dd>
          </dl>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="ibox-content" [ngClass]="{'sk-loading': loading}">
              <sk-three-bounce></sk-three-bounce>
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover issue-tracker">
                  <thead>
                    <tr>
                      <th class="text-center">Seg.</th>
                      <th class="text-center">Reg.</th>
                      <th class="text-center">Fecha Derivado</th>
                      <th class="text-center">Remite</th>
                      <th class="text-center">Remitente</th>
                      <th class="text-center">Deriva</th>
                      <th class="text-center">Derivado</th>
                      <th class="text-center">Estado</th>
                      <th class="text-center">Comentario</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of reporteRegistroEntrada.detalle; let i = index">
                    <td data-col="seguimiento" class="text-center">{{item.seguimiento}} </td>
                    <td data-col="correlativo" class="text-center">{{item.correlativo}}</td>
                    <td data-col="fechaDerivado" class="text-center">{{item.fechaDerivado  | date:'dd/MM/yyyy'}}</td>
                    <td data-col="areaRemitente">{{item.areaRemitente.abreviatura}}</td>
                    <td data-col="trabajadorRemitente">{{item.trabajadorRemitente.nombreCompleto}}</td>
                    <td data-col="areaDerivado">{{item.areaDestino.abreviatura}}</td>
                    <td data-col="trabajadorDerivado">{{item.trabajadorDestino.nombreCompleto}}</td>
                    <td data-col="estado" class="text-center" [ngSwitch]="item.estado">
                        <span *ngSwitchCase="'INGRESADO'" class="label label-default">INGRESADO</span>
                        <span *ngSwitchCase="'PENDIENTE'" class="label label-info">PENDIENTE</span>
                        <span *ngSwitchCase="'DERIVADO'" class="label label-warning">DERIVADO</span>
                        <span *ngSwitchCase="'ATENDIDO'" class="label label-success">ATENDIDO</span>
                        <span *ngSwitchCase="'OTROS'" class="label label-default">OTROS</span>
                    </td>
                    <td data-col="comentario">{{item.Comentario}}</td>
                 </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <pagination [(ngModel)]="paginacion.pagina" (pageChanged)="OnPageChanged($event)" [totalItems]="paginacion.totalRegistros" [itemsPerPage]="paginacion.registros" [boundaryLinks]="true" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center m-a-sm">
                  <pagination-info [totalItems]="paginacion.totalRegistros" [itemsPerPage]="paginacion.registros" [page]="paginacion.pagina"></pagination-info>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-right m-a-sm">
                  <pagination-set (optionChanged)="OnPageOptionChanged($event)"></pagination-set>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
